body{
    background-color: 	#D3D3D3;
  }
  
.card{
    position:absolute;
    top: 30%;
    left: 53%;
    width: 350px;
    height:600px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: white;
}

.upr{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 40px;
  
  }
  .lg{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-top: 10px;
  }
  .txt{
    font-weight:700;
    color: rgba(31, 29, 29, 0.822);
    font-size: xx-large;
   
  }
  .marg{
      margin-left: 20px;
  }
  .int{
    -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
       border-radius: 20px;
       border: 1px solid #d92d2d;
       color: #000000;
       width: 300px;
       height: 40px;
       padding-left: 10px;
  }
  int:focus{
    outline: none;
       border: 1px solid #ffffff;
       color: #d92d2d;
       padding-left: 50px;
  }
  #butn{
    margin-left: 110px;
    border-radius: 20px;
    width: 120px;
    background-color: rgba(0, 110, 255, 0.623);
    color: white;
  }
  .attr{
    color: rgba(0, 174, 255, 0.89);
    font-weight:800;
  }
  #drop{
    margin-left: 18px;
    border-radius: 3px;
    border-radius: 20px;
       border: 1px solid #d92d2d;
       background-color: white;
       color: #ff0909;
       width: 300px;
       height: 40px;
       padding-left: 10px;
  }
  #item{
    width: 300px;
  
  }
  .inp{
      color:red;
      margin-left: 200px;
  }
  .inp1{
    color:red;
    margin-left: 150px;
  }
  .footer{
    margin-left: 40px;
    margin-top: 25px;
  }
.ft{
    height: 20px;
    width: 20px;
    margin-left: 3px;
}
.star{
    color: red;
}
